<%= render CommentDetailsComponent.new comment: @comment, current_user: @current_user %>
<% if @comment.replies.present? %>
  <div class="ml-7">
    <%= render CommentDetailsComponent.with_collection @comment.replies, current_user: @current_user, repliable: false %>
  </div>
<% end %>

