<div>
  <div class="text-[16px] px-[25px] px-[10px] inline">
    <%= link_to  comment_path, data: { turbo_frame: 'modal'  } do %>
      <i class="fas fa-comment-alt"></i>
    <% end %>
  </div> <%= comment_count %>
</div>
